bp20-tests/src/test/resources/jaxws/bp20/complexrpc/WEB-INF/wsdl/ComplexDataTypesRpcLit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ComplexDataTypesRpcLitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing">
  <wsp:Policy wsu:Id="CustomBinding_IComplexDataTypesRpcLit_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing>
          <wsp:Policy />
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="BaseDataTypesDocLitW0.xsd" namespace="http://schemas.example.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="ComplexDataTypesDocLitW2.xsd" namespace="http://schemas.example.com/2003/10/Serialization/Arrays"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComplexDataTypesRpcLit_RetArrayString1D_InputMessage">
    <wsdl:part name="inArrayString1D" type="q1:StringArray" xmlns:q1="http://schemas.example.com/2003/10/Serialization/Arrays"/>
  </wsdl:message>
  <wsdl:message name="IComplexDataTypesRpcLit_RetArrayString1D_OutputMessage">
    <wsdl:part name="RetArrayString1DResult" type="q2:StringArray" xmlns:q2="http://schemas.example.com/2003/10/Serialization/Arrays"/>
  </wsdl:message>
  <wsdl:message name="IComplexDataTypesRpcLit_RetArrayInt1D_InputMessage">
    <wsdl:part name="inArrayInt1D" type="q3:IntArray" xmlns:q3="http://schemas.example.com/2003/10/Serialization/Arrays"/>
  </wsdl:message>
  <wsdl:message name="IComplexDataTypesRpcLit_RetArrayInt1D_OutputMessage">
    <wsdl:part name="RetArrayInt1DResult" type="q4:IntArray" xmlns:q4="http://schemas.example.com/2003/10/Serialization/Arrays"/>
  </wsdl:message>
  <wsdl:portType name="IComplexDataTypesRpcLit">
    <wsdl:operation name="RetArrayString1D" parameterOrder="inArrayString1D">
      <wsdl:input wsam:Action="http://tempuri.org/IComplexDataTypesRpcLit/RetArrayString1D" message="tns:IComplexDataTypesRpcLit_RetArrayString1D_InputMessage"/>
      <wsdl:output wsam:Action="http://tempuri.org/IComplexDataTypesRpcLit/RetArrayString1DResponse" message="tns:IComplexDataTypesRpcLit_RetArrayString1D_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RetArrayInt1D" parameterOrder="inArrayInt1D">
      <wsdl:input wsam:Action="http://tempuri.org/IComplexDataTypesRpcLit/RetArrayInt1D" message="tns:IComplexDataTypesRpcLit_RetArrayInt1D_InputMessage"/>
      <wsdl:output wsam:Action="http://tempuri.org/IComplexDataTypesRpcLit/RetArrayInt1DResponse" message="tns:IComplexDataTypesRpcLit_RetArrayInt1D_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IComplexDataTypesRpcLit" type="tns:IComplexDataTypesRpcLit">
    <wsp:PolicyReference URI="#CustomBinding_IComplexDataTypesRpcLit_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <wsdl:operation name="RetArrayString1D">
      <soap12:operation soapAction="http://tempuri.org/IComplexDataTypesRpcLit/RetArrayString1D" style="rpc"/>
      <wsdl:input>
        <soap12:body use="literal" namespace="http://tempuri.org/"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://tempuri.org/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetArrayInt1D">
      <soap12:operation soapAction="http://tempuri.org/IComplexDataTypesRpcLit/RetArrayInt1D" style="rpc"/>
      <wsdl:input>
        <soap12:body use="literal" namespace="http://tempuri.org/"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" namespace="http://tempuri.org/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComplexDataTypesRpcLitService">
    <wsdl:port name="CustomBinding_IComplexDataTypesRpcLit" binding="tns:CustomBinding_IComplexDataTypesRpcLit">
      <soap12:address location="http://localhost/Soap12/ComplexDataTypesRpcLit"/>
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/Soap12/ComplexDataTypesRpcLit</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>