bp20-tests/src/test/resources/jaxws/bp20/mtom/WEB-INF/wsdl/Soap12MtomUtf8.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="MtomExtendedService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:i0="http://xmlsoap.org/Ping" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing">
  <wsp:Policy wsu:Id="CustomBinding_IMtomExtendedContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing>
          <wsp:Policy />
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://xmlsoap.org/Ping" location="Soap12MtomUtf80.wsdl"/>
  <wsdl:types/>
  <wsdl:binding name="CustomBinding_IMtomExtendedContract" type="i0:IMtomExtendedContract">
    <wsp:PolicyReference URI="#CustomBinding_IMtomExtendedContract_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EchoBinaryAsString">
      <soap12:operation soapAction="http://xmlsoap.org/EchoBinaryAsString" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoStringAsBinary">
      <soap12:operation soapAction="http://xmlsoap.org/EchoStringAsBinary" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoBinaryArrayAsStringArray">
      <soap12:operation soapAction="http://xmlsoap.org/EchoBinaryArrayAsStringArray" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoBinaryFieldAsString">
      <soap12:operation soapAction="http://xmlsoap.org/EchoBinaryFieldAsString" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoStringArrayAsBinaryArray">
      <soap12:operation soapAction="http://xmlsoap.org/EchoStringArrayAsBinaryArray" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoStringArrayAsBinaryFields">
      <soap12:operation soapAction="http://xmlsoap.org/EchoStringArrayAsBinaryFields" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoBinaryHeader">
      <soap12:operation soapAction="http://xmlsoap.org/HeaderRequest" style="document" />
       <wsdl:input name="EchoBinaryHeaderRequest">
        <soap12:header message="i0:EchoBinaryHeaderRequest_Headers" part="HeaderData" use="literal" />
        <soap12:body use="literal" />
       </wsdl:input>
       <wsdl:output name="EchoBinaryHeaderResponse">
        <soap12:header message="i0:EchoBinaryHeaderResponse_Headers" part="HeaderData" use="literal" />
        <soap12:body use="literal" />
       </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MtomExtendedService">
    <wsdl:port name="CustomBinding_IMtomExtendedContract" binding="tns:CustomBinding_IMtomExtendedContract">
      <soap12:address location="http://localhost/Soap12MtomUtf8"/>
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/Soap12MtomUtf8</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>