bp20-tests/src/test/resources/jaxws/bp20/wsa/test119x/WEB-INF/wsdl/Test119x.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:s1="http://example.org/echo"
             xmlns:service="http://example.org/wsaTestService"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             targetNamespace="http://example.org/wsaTestService">

    <wsp:Policy wsu:Id="wsaTestsoap12Binding_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing>
                    <wsp:Policy/>
                </wsam:Addressing>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <types>
        <xs:schema targetNamespace="http://example.org/echo"
                   elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name='echoIn1' type='xs:string'/>
            <xs:element name='echoOut1' type='xs:string'/>
            <xs:element name='echoIn2' type='xs:string'/>
            <xs:element name='echoOut2' type='xs:string'/>
        </xs:schema>
    </types>
    <message name="wsaEchoInMessage1">
        <part name="wsaEchoInPart" element="s1:echoIn1"/>
    </message>

    <message name="wsaEchoOutMessage1">
        <part name="wsaEchoOutPart" element="s1:echoOut1"/>
    </message>
    <message name="wsaEchoInMessage2">
        <part name="wsaEchoInPart" element="s1:echoIn2"/>
    </message>

    <message name="wsaEchoOutMessage2">
        <part name="wsaEchoOutPart" element="s1:echoOut2"/>
    </message>

    <portType name="wsaTestPortType">
        <operation name="echo1">
            <input message="service:wsaEchoInMessage1"/>
            <output message="service:wsaEchoOutMessage1"/>
        </operation>

        <operation name="echo2">
            <input message="service:wsaEchoInMessage2"/>
            <output message="service:wsaEchoOutMessage2"/>
        </operation>

    </portType>

    <binding name="wsaTestsoap12Binding" type="service:wsaTestPortType">
        <wsp:PolicyReference URI="#wsaTestsoap12Binding_Policy"/>
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echo1">
            <soap12:operation style="document" soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>

        <operation name="echo2">
            <soap12:operation style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="wsaTestService">
        <port name="wsaTestPort" binding="service:wsaTestsoap12Binding">
            <soap12:address location="http://example.org/node/B"/>
        </port>
    </service>
</definitions>
